<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
   <customErrors mode="On" defaultRedirect="Error.aspx" />
    <!--<customErrors mode="Off" />-->
      <compilation targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="login.aspx" protection="All" path="/" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--<sessionState cookieless="false" regenerateExpiredSessionId="false" timeout="20" />-->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
  <!--<sessionState cookieless="AutoDetect" regenerateExpiredSessionId="true"/>-->
  <!--<sessionState mode="Off"/>--> 
  </system.web>
  <appSettings>
   <add key="DBServer" value="DESKTOP-JUO85V8" />
    <!--<add key="DBServer" value="HKW00109184.hk.hsbc,2433" />-->
    <!--<add key="ADServer" value="130.38.56.36"/>-->
	<!--<add key="ADServer" value="adgcquery.hbap.adroot.hsbc"/>-->
	<add key="ADServer" value="adgcquery.hbap.adroot.hsbc" />
	<add key="SecurityKey" value="HSBC@1234" />
    <add key="ADLogin" value="false" />
    <add key="ExtensiveLogging" value="True" /> 
   <add key="LocalSTPPath" value="D:\FloraRTGSFiles" />
    <add key="LocalPath" value="D:\FloraRTGSFiles" />
    <add key="RemoteSTPPath" value="172.26.195.209" />
    <add key="StringPattern" value="[^0-9a-zA-Z+-.()* ]+" />
    <add key="CustomDutyReceivingBankBIC" value="BSONBDDH" />
    <add key="CustomDutyReceivingBranch" value="200276971" />
    <add key="CustomDutyReceiverName" value="Customs duty Asycuda Collection" />
    <add key="CustomDutyReceiverAccountNo" value="1619602000696" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	 <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="sameorigin" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>